{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} À propos{% endblock %}

{% block body %}
    <div class="about">
        <div class="section-title container">
            <h2>À propos</h2>
            <h3>Découvrez qui nous sommes et nos objectifs</h3>
        </div>
        <section class="presentation">
            <div class="container">
                <div class="section-title">
                    <h2>À propos de nous</h2>
                    <h3>Une équipe vibrante et une harmonie constante</h3>
                </div>
                <div class="info">
                    <p>Notre équipe est composée de passionnés dévoués, unis par un amour commun pour l'univers du manga et des animés. Chaque membre apporte une expertise unique, que ce soit dans la conception de produits, la création artistique ou la gestion des expositions. Ensemble, nous formons une équipe dynamique et créative, travaillant en harmonie pour donner vie à des créations exceptionnelles et offrir une expérience inoubliable à nos clients.</p>
                    <p>Nos valeurs sont ancrées dans l'authenticité, l'innovation et le respect. Nous croyons en la puissance de l'expression individuelle et nous efforçons de créer des produits qui reflètent la diversité des goûts et des passions de notre communauté. L'innovation guide chacune de nos créations sur-mesure, repoussant constamment les limites pour offrir des produits uniques et exceptionnels. Enfin, le respect est au cœur de nos relations avec nos clients, partenaires et membres de l'équipe, créant un environnement où la collaboration et la confiance prospèrent.</p>
                    <p>Nos valeurs sont notre boussole, guidant chaque aspect de notre travail et de notre engagement envers l'excellence.</p>
                    <div class="stats">
                        <div class="stats__item">
                            <h4>25+</h4>
                            <p>Ans d'expérience</p>
                        </div>
                        <div class="stats__item">
                            <h4>30k+</h4>
                            <p>Client satisfaits</p>
                        </div>
                        <div class="stats__item">
                            <h4>9</h4>
                            <p>Pays</p>
                        </div>
                        <div class="stats__item">
                            <h4>120+</h4>
                            <p>Employés</p>
                        </div>
                    </div>
                </div>
        </section>

        <section class="recruitment container">
            <div class="section-title">
                <h2>Nous recrutons !</h2>
                <h3>Opportunités brillantes pour une aventure palpitante</h3>
                <div>
                    <a href="{{ path("app_contact") }}" class="btn btn-primary">Nous contacter</a>
                </div>
            </div>

            <div class="recruitment-content">
                <div class="column">
                    <div class ="card card-2">
                        <h4>Community manager</h4>
                        <p>
                            Vous serez le lien vital entre notre marque et notre passionnante communauté manga.
                            Cultivez l'engagement, créez des conversations significatives et façonnez une présence
                            en ligne qui reflète notre dévouement envers nos fans.
                        </p>
                    </div>
                    <div class ="card card-1">
                        <h4>Graphic designer</h4>
                        <p>
                            Vous serez le créateur visuel derrière notre univers manga et animé,
                            donnant vie à nos idées à travers des visuels captivants.
                            Apportez votre talent artistique pour façonner notre esthétique distinctive.
                        </p>
                    </div>
                </div>
                <div class="column column-2">
                    <div class ="card card-1">
                        <h4>Agenceur d'espace</h4>
                        <p>
                            Vous sculpterez l'expérience immersive de nos expositions manga.
                            Apportez votre flair artistique pour créer des environnements captivants
                            et uniques, faisant de chaque exposition un voyage mémorable pour nos clients.
                        </p>
                    </div>
                    <div class ="card card-2">
                        <h4>Assistant directeur artistique</h4>
                        <p>
                            Vous collaborerez étroitement à la conception et à l'exécution de notre vision
                            artistique. Apportez votre créativité exceptionnelle pour soutenir
                            la direction artistique globale de Suki Suki Shop.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
