{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Services{% endblock %}

{% block body %}
    <section class="services container">
        <div class="section-title">
            <h2>Nos services</h2>
            <h3>Des solutions innovantes pour vos attentes</h3>
        </div>

        <div class="card card-1">
            <img src="/images/figure.jpg" alt="Figurine">
            <div class="card__info">
                <h4>Vente</h4>
                <p>Au cœur de notre entreprise, le service de vente offre une expérience d'achat
                    <span class="highlight">exceptionnelle</span>. Notre gamme soigneusement sélectionnée de figurines,
                    porte-clés et accessoires manga répond aux normes les plus élevées de qualité
                    et d'<span class="highlight">originalité</span>. À travers une plateforme <span class="highlight">
                    professionnelle</span> et <span class="highlight">conviviable</span>, nous offrons une navigation
                    fluide pour nos clients, garantissant une acquisition sans effort de nos produits.
                    Chez Suki Suki Shop, la vente n'est pas simplement transactionnelle, mais une invitation
                    à <span class="highlight">découvrir et posséder des pièces uniques</span>.
                    Nous sommes déterminés à satisfaire les attentes de nos clients,
                    offrant un service de vente professionnel qui reflète notre dévouement envers
                    l'<span class="highlight">excellence et la satisfaction</span> client.
                </p>
            </div>
        </div>
        <div class="card card-2">
            <div class="card__info">
                <h4>Créations sur-mesure</h4>
                <p>Notre service de créations sur-mesure représente l'<span class="highlight">apogée</span> de notre engagement envers l'individualité
                    et l'expression personnelle. Spécialistes dans la personnalisation d'articles liés au manga
                    et aux animés, nous transformons les idées en réalité avec une <span class="highlight">précision exceptionnelle</span>.
                    Que ce soit pour des figurines uniques, des porte-clés spécialement conçus ou d'autres accessoires
                    personnalisés, notre équipe <span class="highlight">experte</span> s'attache à dépasser les attentes. La création sur-mesure
                    chez Suki Suki Shop va au-delà de la simple personnalisation – c'est <span class="highlight">l'art de donner vie</span>
                    à vos préférences d'une manière exceptionnelle. Faites l'expérience d'une collaboration unique
                    avec nous, où chaque création est une œuvre d'art façonnée selon vos goûts et aspirations spécifiques.
                </p>
            </div>
            <img src="/images/crafts.jpg" alt="Artisanat">
        </div>
        <div class="card card-1">
            <img src="/images/exhibition.jpg" alt="Exposition">
            <div class="card__info">
                <h4>Expositions</h4>
                <p>Notre service d'exposition offre une présentation professionnelle et immersive de notre collection
                    manga et animé. <span class="highlight">Méticuleusement planifiées</span>, nos expositions incarnent notre dévouement envers
                    l'esthétique, l'innovation, et la qualité. Explorez nos présentoirs élégamment conçus, reflétant
                    notre engagement envers l'excellence visuelle. Ces événements sont des <span class="highlight">opportunités idéales pour
                    les passionnés et les professionnels</span> de découvrir notre gamme exceptionnelle tout en établissant
                    des connexions significatives dans le monde du manga et des animés. Chez Suki Suki Shop, chaque
                    exposition est une <span class="highlight">déclaration artistique</span> et une occasion de <span class="highlight">tisser des liens</span> durables dans cette
                    communauté passionnée.
                </p>
            </div>
        </div>
    </section>
{% endblock %}
