@use '../abstracts/variables' as *;
@use '../abstracts/mixin' as m;

.contact-form {
    width: 70%;
    @include m.dflex($direction: column, $justify: start, $align: center);

    .item {
        width: 100%;
        @include m.dflex($direction: column, $justify: start, $align: start);

        &__text, &__textarea {
            width: 100%;
        }

        input {
            border: none;
            border-bottom: 2px solid rgba(map-get($map: $colors, $key: 'black'), 0.3);
            font-size: 1rem;
            font-family: 'Roboto Regular';
            padding-block: 2vh;
            transition: 0.4s;

            ::placeholder {
                font-size: 1rem;
                font-family: 'Roboto Regular';
              }

            &:focus {
                outline: none;
                border-bottom: 2px solid map-get($map: $colors, $key: 'primary');
            }
        }

        input + .info {
            margin-top: 2vh;
        }

    }

    .item + .item, button {
        margin-top: 6vh;
    }

    .check {
        margin-top: 2vh;
    }

    .info {
        color: rgba(map-get($map: $colors, $key: 'black'), 0.5);
    }
}