@use '../abstracts/mixin' as m;
@use '../abstracts/variables' as *;

.gallery {

    .section-title {
        text-align: center;
    }

    .gallery-content {
        @include m.dflex($direction: row, $justify: space-between, $align: center);
    
        .column {
            width: 32%;
            img + img {
                margin-top: 3vh;
            }
            img {
                width: 100%;
                border-radius: 10px;
            }
        }
    }
}