@use '../abstracts/variables' as *;
@use '../abstracts/mixin' as m;

header {
    position: fixed;
    z-index: 10;
    
    .desktop-nav, .mobile-nav {
        position: absolute;
        z-index: -1;
        padding-block: 2vh;
        background-color: map-get($map: $colors, $key: 'white');
        width: 100%;
        @include m.dflex($direction: row, $justify: center, $align: center);
        border-bottom: 1px solid rgba(map-get($map: $colors, $key: 'black'), 0.1);

        nav {
            @include m.dflex($direction: row, $justify: space-between, $align: center);

            .nav-right {
                @include m.dflex($direction: row, $justify: start, $align: center);

                li + li {
                    margin-left: 4vh;
                }
            }
        }
    }


    .mobile-nav {
        display: none;
    }

    .burger-menu {
        &__item {
            background-color: map-get($map: $colors, $key: 'primary');
            width: 40px;
            height: 0.2rem;
        }

        .mid-bar {
            margin-block: 0.8vh;
        }
    }
    

    @media (max-width: 1024px) {
        .desktop-nav {
            display: none;
        }

        .mobile-nav {
            @include m.dflex($direction: row, $justify: center, $align: center);
        }

    }


    .mobile-menu {
        display: none;
        z-index: 99;
        height: 100vh;
        width: 70vw;
        background-color: map-get($map: $colors, $key: 'white');
        border-right: 1px solid rgba(map-get($map: $colors, $key: 'black'), 0.3);
        

        .close-menu {
            position: absolute;
            left: 8%;
            top: 6%;

            &__item {
                background-color: map-get($map: $colors, $key: 'primary');
                width: 40px;
                height: 0.2rem;
            }

            .close-1 {
                rotate: 45deg;
                position: absolute;
            }
            
            .close-2 {
                rotate: -45deg;
            }
        }

        nav {
            padding-top: 22vh;
            ul {
                @include m.dflex($direction: column, $justify: start, $align: center);

                li + li {
                    margin-top: 6vh;
                }

                li {
                    a {
                        font-size: 2rem;
                    }
                }
            }
        }

    }

    .active {
        @include m.dflex($direction: column, $justify: start, $align: center);
    }
}