@use '../abstracts/variables' as *;
@use '../abstracts/mixin' as m;

header {
    width: 100%;
    position: fixed;
    z-index: 99;
    @include m.dflex($direction: row, $justify: center, $align: start);

    .desktop-nav {
        width: 100%;
        background-color: map-get($map: $colors, $key: 'white');
        border-bottom: 1px solid rgba(map-get($map: $colors, $key: 'black'), 0.1);
        @include m.dflex($direction: row, $justify: center, $align: start);
        nav {
            height: 12vh;
            @include m.dflex($direction: row, $justify: space-between, $align: center);
            
            .nav-left, .nav-right {
                @include m.dflex($direction: row, $justify: start, $align: start);
                li + li {
                    margin-left: 4vh;
                }
            }
        }

        @media (max-width: 1024px) {
            display: none;
        }
    }

    .mobile-nav {

        @media (max-width: 1024px) {
            width: 100%;
            background-color: map-get($map: $colors, $key: 'white');
            border-bottom: 1px solid rgba(map-get($map: $colors, $key: 'black'), 0.1);
            @include m.dflex($direction: row, $justify: space-between, $align: start);

            nav {
                width: 100%;
                padding-inline: 10%;
                height: 12vh;
                @include m.dflex($direction: row, $justify: space-between, $align: center);

                .burger-menu {
                    @include m.dflex($direction: column, $justify: start, $align: center);

                    &__item {
                        width: 4vh;
                        height: 0.3rem;
                        background-color: map-get($map: $colors, $key: 'primary');

                    }

                    .mid {
                        margin-block: 1.2rem;
                    }
                }
            }

        }
    }
    .mobile-menu {
        @media (max-width: 1024px) {
            width: 70%;
            height: 100%;
            background-color: map-get($map: $colors, $key: 'white');
            @include m.dflex($direction: column, $justify: start, $align: center);
            border-right: 1px solid rgba(map-get($map: $colors, $key: 'black'), 0.1);
            display: none;

            ul {
                padding-top: 22vh;
                @include m.dflex($direction: column, $justify: start, $align: center);

                li {
                    a {
                        font-size: 2rem;
                    }
                }

                li + li {
                    margin-top: 6vh;
                }
            }
        }
    }
}

.header-menu {
    @include m.dflex($direction: row, $justify: start, $align: start);
    height: 100%;

    .close-burger {
        position: absolute;
        margin-top: 6vh;
        margin-left: 6vh;
        &__item {
            width: 4vh;
            height: 0.3rem;
            background-color: map-get($map: $colors, $key: 'primary');
        }
    }
}