@use '../abstracts/mixin' as m;

.hero-banner {
    margin-bottom: 55vh;
    .info {
        p {
            margin-top: 2vh;
            margin-bottom: 6vh;
            width: 22%;
        }
    }

    @media (max-width: 1024px) {
        margin-bottom: 20vh;

        .info {
            @media (max-width: 1024px) {
                width: 100%;
                @include m.dflex($direction: column, $justify: start, $align: center);
    
                h1, p {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }

}