@use '../abstracts/mixin' as m;

nav {
    height: 12vh;
    @include m.dflex($direction: row, $justify: space-between, $align: center);

}

.nav-left, .nav-right {
    @include m.dflex($direction: row, $justify: start, $align: start);
    li + li {
        margin-left: 4vh;
    }
}

.logo {
    max-width: 8vh;
}