@use '../abstracts/mixin' as m;

.reinsurance {
    @include m.dflex($direction: column, $justify: start, $align: center);

    .section-title {
        @include m.dflex($direction: column, $justify: start, $align: center);
    }

    .reinsurance-list {
        @include m.dflex($direction: row, $justify: space-between, $align: start)
    }
    &__card {
        width: 35%;
        p {
            width: 85%;
        }
        h4 {
            margin-block: 2.5vh;
        }
        img {
            width: 6vh;
        }
    }


    @media (max-width: 1024px) {
        @include m.dflex($direction: column, $justify: start, $align: center);

        .section-title {
            text-align: center;
        }

        .reinsurance-list {
            @include m.dflex($direction: column, $justify: start, $align: center);
        }

        &__card {
            @include m.dflex($direction: column, $justify: start, $align: center);
            width: 100%;
            text-align: center;
        }

        &__card + &__card {
            margin-top: 8vh;
        }
    }
}