@use '../abstracts/variables' as *;
@use '../abstracts/mixin' as m;

.fa {
    border: 1px solid map-get($map: $colors, $key: 'black');
}

.fb {
    border-bottom: 1px solid map-get($map: $colors, $key: 'black');
}

.ft {
    border-top: 1px solid map-get($map: $colors, $key: 'black');
}

.fl {
    border-left: 1px solid map-get($map: $colors, $key: 'black');
}

.fr {
    border-right: 1px solid map-get($map: $colors, $key: 'black');
}